.mt-40{
    margin-top: 40px;
}

.mb-42{
    margin-bottom: 42px;
}

.mb-29{
    margin-bottom: 29px;
}

.pr-80{
    padding-right: 80px;
}
.mt-32{
    margin-top: 32px;
}
.pl-32{
    padding-left: 32px;
}
.color-198754{
    color: #198754;
}

.ms-50{
    margin-left: 50px;
}

.me-26{
    margin-right: 26px;
}

.fz-12{
    font-size: 12px;
    line-height: 24px;
}

.fz-16{
    font-size: 16px;
}

.fz-14{
    font-size: 14px;
    line-height: 21px;
}

.mb-7{
    margin-bottom: 16.5px;
}

.p-8-32{
    padding: 8px 32px;
}

.mb-6{
    margin-bottom: 4px;
}

.p-12-12{
    padding: 12px 12px;
}

.pb-32{
    
    padding-bottom: 32px;
}